<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Credit_Manager</title>
    <style>a {text-decoration: none}</style>
    <style>
    .title{
        font-size: 200px;
        font-family: 'Courier New', Courier, monospace;
        margin: auto;
        padding: 10px;
        text-align: center;
        color: aquamarine
    }
    .title1{
        font-size: 50px;
        font-family: 'Courier New', Courier, monospace;
        margin: auto;
        padding: 10px;
        text-align: center;
        color: aquamarine
    }
    body{
        background-image: url("https://wahospitality.org/wp-content/uploads/2018/10/startsaving_withSafety_shutterstock_472360912.jpg");
        background-size: auto;
    }
    </style>
</head>
<body background="homepage.jpg">
    <div >
        <a href="/ViewerList">
            <h1 class="title">CREDIT MANAGER</h1>
            <h3 class="title1">Get Started</h3>
        </a>
    </div>

</body>
</html>
